### Xcode ###
build
**/*.xcodeproj/**
#create-key-on-behalf-of/create-key-on-behalf-of.xcodeproj/project.xcworkspace/xcuserdata/
!**/*.xcodeproj/project.pbxproj
!**/*.xcworkspace/contents.xcworkspacedata
