# Java
*.class
*.jar
target/
.classpath
.project
.settings

# VS
.vs/
*.opendb
*.sdf
*.vcxproj.user
Debug/
Release/
obj/

# C++
Makefile
CMakeFiles
CMakeCache.txt
target
cmake_install.cmake
makefile
*_linux
*vcx*

# Internal
_configure_buildfiles
_build

# Samples
*.docx
*.pdf
*.txt
sample.log
