*.o
*.dylib
*/.DS_Store
*.txt
file-crypto-auto-encrypt/file-crypto-auto-encrypt
file-crypto-auto-decrypt/file-crypto-auto-decrypt
chunk-decrypt/chunk-decrypt
logging/logging
ionic-helloworld/ionic-helloworld
direct-keys/direct-keys
